      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="<%=urlHead%>/">
              <i class="material-icons menu-icon">&#xe871;</i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="<%=urlHead%>/plans">
              <i class="material-icons menu-icon">&#xe875;</i>
              <span class="menu-title">Investment Plans</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="<%=urlHead%>/profile">
              <i class="material-icons menu-icon">account_box</i>
              <span class="menu-title">My Profile</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="material-icons menu-icon">payment</i>
              <span class="menu-title">Make Transaction</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="<%=urlHead%>/pay">Pay</a></li>
                <li class="nav-item"> <a class="nav-link" href="<%=urlHead%>/pay">Withdraw</a></li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="<%=urlHead%>/support">
              <i class="material-icons menu-icon">perm_phone_msg</i>
              <span class="menu-title">Support</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="<%=urlHead%>/setting">
              <i class="material-icons menu-icon">settings</i>
              <span class="menu-title">Settings</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="pages/icons/themify.html">
              <i class="material-icons menu-icon">bubble_chart</i>
              <span class="menu-title">More Information</span>
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="documentation/documentation.html">
              <i class="ti-write menu-icon"></i>
              <span class="menu-title">Documentation</span>
            </a>
          </li>
        </ul>
      </nav>